@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Cha-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  --ff-main: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Dark-Slate-Grey);
  background-color: var(--Dark-Slate-Grey);
  font-family: var(--ff-main);
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: fit-content;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

/* Main Image Section */

.main_img {
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 274px;
}

img.img2 {
  display: none;
}

/* Content Section Start */
.content_section {
  margin-inline: 24px;
  margin-bottom: 40px;
}

.content_wrapper {
  width: 100%;
  max-width: 327px;
  height: 100%;
  max-height: 478px;
}

.content_section h1 {
  font-family: inherit;
  color: var(--Cha-Grey);
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
}

.content_section p {
  margin-top: 1rem;
}

.bullet-icon {
  width: 21px;
  height: 21px;
}

/* Form Start */
form {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 162px;
  margin-top: 1rem;
}

label {
  font-size: 12px;
}

input {
  width: 327px;
  height: 56px;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.myBtn {
  width: 327px;
  height: 56px;
  color: var(--White);
  background-color: var(--Dark-Slate-Grey);
  margin-top: 1rem;
  border-radius: 8px;
}

.myBtn:hover {
  background-color: var(--Tomato);
}

/* Form End */
/* Content Section End */

/* MODAL START */
.modal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 2;
  width: 375px;
  height: 812px;
  background-color: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #888;
  flex-direction: column;
  justify-content: space-between;
}

.modal img {
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.modal .close {
  width: 100%;
  padding: 15px;
  margin-top: auto;
}

main.modal-active #myModal {
  visibility: hidden;
}

.modal-content img {
  width: 64px;
  height: 64px;
}

/* MODAL END */

@media (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 928px;
    height: 100%;
    max-height: 641px;
  }

  .main_img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 593px;
  }

  img.img1 {
    display: none;
  }

  img.img2 {
    display: flex;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }

  .content_section {
    width: 376px;
    height: 446px;
    margin-inline: 64px;
    margin-top: 97px;
    justify-items: space-between;

  }

  /* MODAL START */
  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 504px;
    height: 520px;
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #888;
    padding: 20px;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }

  .modal h2 {
    margin-bottom: 10px;
  }

  .modal p {
    margin-bottom: 20px;
  }

  .modal .close {
    width: 100%;
    padding: 15px;
    margin-top: auto;
  }

  main.modal-active #myModal {
    visibility: hidden;
  }

  .modal-content img {
    width: 64px;
    height: 64px;
  }
  /* MODAL END */
}
